<div class="ui container forms">
<%= simple_form_for(product) do |f| %> 


 <div class="ui form">    
  <div class="ui segment orange">  
    
      <div class="field">
        <%= f.input :article_number, label: "Article Number", placeholder: "Article Number" %>      
      </div>
  
      <div class="field">
        <%= f.input :article_name, label: "Article Name", placeholder: "Article Name" %>
      </div>    

      <div class="field">
        <div class="ui calendar" id="date-received">    
          <label>Date Received</label>       
          <div class="ui input left icon">
            <i class="calendar icon"></i>            
            <%= f.text_field :date_received, placeholder: "Date Received" %>
          </div>
        </div>      
      </div>

      <div class="field">
        <%= f.input :article_location, label: "Article Location", placeholder: "Article Location" %>
      </div>

      <%= f.submit class: "ui button orange" %>
    </div>  
  </div>
<% end %>
</div>