<h2 class="ui center aligned header">List of Products</h2>

<%= link_to semantic_icon("plus") + "New Product", new_product_path, class: "ui orange button" %>

<table class="ui five column selectable inverted table">
  <thead>
    <tr>
      <th>Article Name</th>
      <th>Article Number</th>
      <th>Date Received</th>
      <th>Article Location</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.article_name, product %></td>
        <td><%= product.article_number %></td>
        <td><%= product.date_received %></td>
        <td><%= product.article_location %></td>
        <td>
          <%= link_to semantic_icon("edit") + "Edit",
              edit_product_path(product), class: "small ui orange button" %>
          <%= link_to semantic_icon("delete") + "Delete",
               product_path(product), method: :delete, class: "small ui orange button" %>
        </td>
      </tr>
    <% end %>
  </tbody> 
</table>