<h2 class="ui center aligned header">List of Products</h2>

<% admins_only do %>
  <%= link_to semantic_icon("plus") + "Add New Product",
      new_admin_product_path, class: "ui orange button" %>
<% end %>

<table class="ui five column selectable inverted table index">
  <thead>
    <tr>
      <th>Article Name</th>
      <th>Article Number</th>
      <th>Date Received</th>
      <th>Article Location</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.article_name, product %></td>
        <td><%= product.article_number %></td>
        <td><%= product.date_received %></td>
        <td><%= product.article_location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
