<% title(@product.article_name, "Product Summary") %>

<h2 class="ui center aligned header">Product Summary</h2>

<% admins_only do %>
  <%= link_to semantic_icon("plus") + "Add New Product", new_admin_product_path,
      class: "small ui orange button" %>
<% end %>
<%= link_to semantic_icon("clipboard list") + "Show All Products",
    products_path, class: "ui orange button" %>

<table class="ui five column inverted table">
  <thead>
    <tr>
      <th>Article Name</th>
      <th>Article Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @product.article_name %></td>
        <td><%= @product.article_number %></td>
        <td>
            <%= link_to semantic_icon("edit") + "Edit", edit_product_path(@product),
                class: "small ui orange button" %>
        <% admins_only do %>
            <%= link_to semantic_icon("delete") + "Delete",
                admin_product_path(@product), method: :delete, class: "small ui orange button" %>
        <% end %>
        </td>
      </tr>
  </tbody>
</table>
