<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Met Trackify
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag       'icons8-audit-80.png' %>
    <%= stylesheet_link_tag    'application', '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css',
        'https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css',
         media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
        'https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js',
        'data-turbolinks-track': 'reload' %>
  </head> 

  <body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <h1>Met Trackify</h1>
      </a>
      <a href="#" class="item">Home</a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>          
        </div>
      </div>
      
    </div>
  </div>
  <div class="ui container main">    
    <%= semantic_flash %>           
    <%= yield %>      
  </div>  
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">          
      <div class="ui horizontal inverted small divided link list">
        <p class="item">Developed with <%= semantic_icon('heart')%>by Tim Fleming</p>
        <p class="item">aka: The GREAT One</p>
        <a class="item" href="https://icons8.com">Favicon by Icons8</a>
        <p class="item">Met Trackify &copy; 2018</p>        
      </div>
    </div>
  </div>
  </body>
</html>
