<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        Met Trackify
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css',
        'https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css',
         media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
        'https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js',
        'data-turbolinks-track': 'reload' %>
  </head> 

  <body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <h1>Met Trackify</h1>
      </a>
      <a href="#" class="item">Home</a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>          
        </div>
      </div>
      
    </div>
  </div>
  <div class="ui container main">    
    <%= semantic_flash %>           
    <%= yield %>   
  </div>  
  </body>
</html>
